In [368]:
import h2o
h2o.cluster().shutdown()

H2O session _sid_ab16 closed.

In [369]:
# h2o.cluster().shutdown()

In [370]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [371]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "1.8.0_232"; OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_232-b09); OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.232-b09, mixed mode)
  Starting server from /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/1c/jl2kk0093xl1b1_cvk9bvp5w0000gn/T/tmpyl9ov2rg
  JVM stdout: /var/folders/1c/jl2kk0093xl1b1_cvk9bvp5w0000gn/T/tmpyl9ov2rg/h2o_felix_started_from_python.out
  JVM stderr: /var/folders/1c/jl2kk0093xl1b1_cvk9bvp5w0000gn/T/tmpyl9ov2rg/h2o_felix_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         01 secs
H2O cluster timezone:       Asia/Kolkata
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.8
H2O cluster version age:    1 month and 18 days
H2O cluster name:           H2O_from_python_felix_mftce9
H2O cluster total nodes:    1
H2O cluster free memory:    3.556 Gb
H2O cluster total cores:    16
H2O cluster allowed cores:  16
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.6.0 final
--------------------------  ------------------------------------------------------------------

In [372]:
#!wget https://s3-us-west-2.amazonaws.com/h2o-tutorials/data/topics/lending/lending_club/LoanStats3a.csv

Warning: Failed to set locale category LC_NUMERIC to en_IN.
Warning: Failed to set locale category LC_TIME to en_IN.
Warning: Failed to set locale category LC_COLLATE to en_IN.
Warning: Failed to set locale category LC_MONETARY to en_IN.
Warning: Failed to set locale category LC_MESSAGES to en_IN.
--2019-12-06 21:15:36--  https://s3-us-west-2.amazonaws.com/h2o-tutorials/data/topics/lending/lending_club/LoanStats3a.csv
Resolving s3-us-west-2.amazonaws.com (s3-us-west-2.amazonaws.com)... 52.218.237.104
Connecting to s3-us-west-2.amazonaws.com (s3-us-west-2.amazonaws.com)|52.218.237.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33394214 (32M) [text/csv]
Saving to: ‘LoanStats3a.csv.2’

LoanStats3a.csv.2   100%[===================>]  31.85M  3.56MB/s    in 17s

2019-12-06 21:15:56 (1.82 MB/s) - ‘LoanStats3a.csv.2’ saved [33394214/33394214]

In [373]:
#!ls

01_Data_Manipulation_Feature_Engineering_Lending Club Training_Aquarium.ipynb
02_Data_Manipulation_From_H2O_Docs.ipynb
Artificial_data.R
ClientImport.R
DataManipulation.R
Intro_H2O.R
LoanStats3a.csv
LoanStats3a.csv.1
LoanStats3a.csv.2
Practical_Machine_Learning_H2O_Felix_4_TRAIN_VALID_TEST.ipynb
Practical_Machine_Learning_H2O_Felix_5_LoadingSaving_Data.ipynb
Practical_Machine_Learning_H2O_Felix_6_DataManipulations.ipynb
Practical_Machine_Learning_Using_H2O_Felix_1_INTRO.ipynb
Practical_Machine_Learning_with_H2O_Felix_2_TREE_ALGO.ipynb
Practical_Machine_Learning_with_H2O_Felix_3_CLIENT_IMPORT.ipynb
Tree_Algo.R
Week2_Assignment.R

In [374]:
#input_csv = "https://s3-us-west-2.amazonaws.com/h2o-tutorials/data/topics/lending/lending_club/LoanStats3a.csv"

In [182]:
#loans = h2o.import_file(input_csv,
#                       col_types = {"int_rate":"string", 
#                                     "revol_util":"string", 
#                                     "emp_length":"string", 
#                                     "verification_status":"string"})

In [375]:
loans = h2o.import_file('LoanStats3a.csv')

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [376]:
orig_cols = loans.col_names

In [377]:
loans.dim

[42536, 52]

# Create a new column using numpy

In [378]:
new_random_col = np.random.rand(42536,1)

In [379]:
new_random_col

array([[0.87624286],
       [0.17553416],
       [0.88749085],
       ...,
       [0.21682568],
       [0.46318066],
       [0.43066766]])

In [380]:
type(new_random_col)

numpy.ndarray

In [381]:
#loans.cbind(new_random_col) ## throws an error since new_random_col is not a h2oframe

In [382]:
new_random_col_h2o = h2o.H2OFrame(new_random_col) ### change the array to a h2oFrame

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [383]:
type(new_random_col_h2o)
new_random_col_h2o.col_names
new_random_col_h2o.col_names = ['Random_Column']
new_random_col_h2o.col_names

['Random_Column']

# Manipulation 1: CBIND

In [384]:
loans = loans.cbind(new_random_col_h2o) #assigning is important

# Create a new row

In [385]:
new_row = loans[1,:]
#print(new_row)
#print(type(new_row))
print(new_row.types)

{'id': 'int', 'member_id': 'int', 'loan_amnt': 'int', 'funded_amnt': 'int', 'funded_amnt_inv': 'real', 'term': 'enum', 'int_rate': 'enum', 'installment': 'real', 'grade': 'enum', 'sub_grade': 'enum', 'emp_title': 'enum', 'emp_length': 'enum', 'home_ownership': 'enum', 'annual_inc': 'real', 'verification_status': 'enum', 'issue_d': 'time', 'loan_status': 'enum', 'pymnt_plan': 'enum', 'url': 'string', 'desc': 'enum', 'purpose': 'enum', 'title': 'enum', 'zip_code': 'enum', 'addr_state': 'enum', 'dti': 'real', 'delinq_2yrs': 'int', 'earliest_cr_line': 'time', 'inq_last_6mths': 'int', 'mths_since_last_delinq': 'enum', 'mths_since_last_record': 'enum', 'open_acc': 'int', 'pub_rec': 'int', 'revol_bal': 'int', 'revol_util': 'enum', 'total_acc': 'int', 'initial_list_status': 'enum', 'out_prncp': 'real', 'out_prncp_inv': 'real', 'total_pymnt': 'real', 'total_pymnt_inv': 'real', 'total_rec_prncp': 'real', 'total_rec_int': 'real', 'total_rec_late_fee': 'real', 'recoveries': 'real', 'collection_recovery_fee': 'real', 'last_pymnt_d': 'time', 'last_pymnt_amnt': 'real', 'next_pymnt_d': 'time', 'last_credit_pull_d': 'time', 'collections_12_mths_ex_med': 'int', 'mths_since_last_major_derog': 'enum', 'policy_code': 'int', 'Random_Column': 'real'}

In [386]:
print(loans.types)

{'id': 'int', 'member_id': 'int', 'loan_amnt': 'int', 'funded_amnt': 'int', 'funded_amnt_inv': 'real', 'term': 'enum', 'int_rate': 'enum', 'installment': 'real', 'grade': 'enum', 'sub_grade': 'enum', 'emp_title': 'enum', 'emp_length': 'enum', 'home_ownership': 'enum', 'annual_inc': 'real', 'verification_status': 'enum', 'issue_d': 'time', 'loan_status': 'enum', 'pymnt_plan': 'enum', 'url': 'string', 'desc': 'enum', 'purpose': 'enum', 'title': 'enum', 'zip_code': 'enum', 'addr_state': 'enum', 'dti': 'real', 'delinq_2yrs': 'int', 'earliest_cr_line': 'time', 'inq_last_6mths': 'int', 'mths_since_last_delinq': 'enum', 'mths_since_last_record': 'enum', 'open_acc': 'int', 'pub_rec': 'int', 'revol_bal': 'int', 'revol_util': 'enum', 'total_acc': 'int', 'initial_list_status': 'enum', 'out_prncp': 'real', 'out_prncp_inv': 'real', 'total_pymnt': 'real', 'total_pymnt_inv': 'real', 'total_rec_prncp': 'real', 'total_rec_int': 'real', 'total_rec_late_fee': 'real', 'recoveries': 'real', 'collection_recovery_fee': 'real', 'last_pymnt_d': 'time', 'last_pymnt_amnt': 'real', 'next_pymnt_d': 'time', 'last_credit_pull_d': 'time', 'collections_12_mths_ex_med': 'int', 'mths_since_last_major_derog': 'enum', 'policy_code': 'int', 'Random_Column': 'real'}

In [387]:
new_row[:, "funded_amnt_inv"] = new_row[:, "funded_amnt_inv"].asnumeric()

In [388]:
print(new_row.types)

{'id': 'int', 'member_id': 'int', 'loan_amnt': 'int', 'funded_amnt': 'int', 'funded_amnt_inv': 'real', 'term': 'enum', 'int_rate': 'enum', 'installment': 'real', 'grade': 'enum', 'sub_grade': 'enum', 'emp_title': 'enum', 'emp_length': 'enum', 'home_ownership': 'enum', 'annual_inc': 'real', 'verification_status': 'enum', 'issue_d': 'time', 'loan_status': 'enum', 'pymnt_plan': 'enum', 'url': 'string', 'desc': 'enum', 'purpose': 'enum', 'title': 'enum', 'zip_code': 'enum', 'addr_state': 'enum', 'dti': 'real', 'delinq_2yrs': 'int', 'earliest_cr_line': 'time', 'inq_last_6mths': 'int', 'mths_since_last_delinq': 'enum', 'mths_since_last_record': 'enum', 'open_acc': 'int', 'pub_rec': 'int', 'revol_bal': 'int', 'revol_util': 'enum', 'total_acc': 'int', 'initial_list_status': 'enum', 'out_prncp': 'real', 'out_prncp_inv': 'real', 'total_pymnt': 'real', 'total_pymnt_inv': 'real', 'total_rec_prncp': 'real', 'total_rec_int': 'real', 'total_rec_late_fee': 'real', 'recoveries': 'real', 'collection_recovery_fee': 'real', 'last_pymnt_d': 'time', 'last_pymnt_amnt': 'real', 'next_pymnt_d': 'time', 'last_credit_pull_d': 'time', 'collections_12_mths_ex_med': 'int', 'mths_since_last_major_derog': 'enum', 'policy_code': 'int', 'Random_Column': 'real'}

# Manipulation 2: RBIND

In [389]:
print(loans.dim)
loans = loans.rbind(new_row)
print(loans.dim)

[42536, 53]
[42537, 53]

# Plant NA's

In [390]:
#loans

In [391]:
#loans.shape

In [392]:
#loans[2, "loan_amnt"] = np.nan

# print(loans.dim)
# loans.head()

In [393]:
#loans[0:10, "loan_amnt"].isna()

In [394]:
#??loans.fillna

In [395]:
#print(loans[:, "loan_amnt"]
#loans[:, "loan_amnt"].fillna(method="forward", axis = 0, maxlen = 1) # axis 0 for columnar and 1 for row wise

In [396]:
#loans.head()

# Manipulation 3: Group by

# What is the pandas equivalent of Group by

In [397]:
air = h2o.import_file("https://s3.amazonaws.com/h2o-airlines-unpacked/allyears2k.csv")
air.dim

Parse progress: |█████████████████████████████████████████████████████████| 100%

[43978, 31]

In [398]:
grade = loans.group_by("grade")

In [399]:
grade.get_frame()

grade
""
A
B
C
D
E
F
G

In [400]:
count_by_grade = loans.group_by("grade").count()

In [401]:
count_by_grade.get_frame()

grade,nrow
,1
A,10183
B,12389
C,8741
D,6016
E,3394
F,1301
G,512

In [402]:
loan_sum_by_grade = loans.group_by("grade").sum("loan_amnt", na="ignore") 
loan_sum_by_grade = loans.group_by("grade").sum("loan_amnt", na="all")
loan_sum_by_grade = loans.group_by("grade").sum("loan_amnt", na="rm")# can take "all", "ignore", "rm"

## aggregation functions - mean, max, min, count, mode, sd, ss, sum, var

In [403]:
loan_sum_by_grade.get_frame()

grade,sum_loan_amnt
,0
A,8.75561e+07
B,1.36872e+08
C,9.50263e+07
D,7.12817e+07
E,4.9904e+07
F,2.2313e+07
G,8.75102e+06

In [404]:
group_cols = ["grade", "sub_grade"]
sum_cols = ["loan_amnt", "funded_amnt"]

In [405]:
agg = loans.group_by(group_cols).sum(sum_cols, na="rm")

In [406]:
agg.get_frame()

grade,sub_grade,sum_loan_amnt,sum_funded_amnt
,,0,0
A,A1,8.28232e+06,8.26765e+06
A,A2,1.11622e+07,1.0977e+07
A,A3,1.43419e+07,1.39310e+07
A,A4,2.70158e+07,2.62237e+07
A,A5,2.67538e+07,2.58958e+07
B,B1,1.82405e+07,1.80405e+07
B,B2,2.21454e+07,2.17567e+07
B,B3,3.45332e+07,3.38e+07
B,B4,2.94866e+07,2.85392e+07

In [407]:
loans["int_rate"] = loans["int_rate"].gsub(pattern = "%", replacement = "") # strip %
loans["int_rate"] = loans["int_rate"].trim() # trim whitespace
loans["int_rate"] = loans["int_rate"].asnumeric() # change to numeric

In [408]:
mean_interest_rate = loans.group_by(group_cols).mean("int_rate", na = "all")

In [409]:
mean_interest_rate.get_frame()

grade,sub_grade,mean_int_rate
,,nan
A,A1,2.71891
A,A2,6.57632
A,A3,16.4328
A,A4,23.2682
A,A5,31.096
B,B1,61.4091
B,B2,73.6361
B,B3,86.9443
B,B4,98.6023

In [410]:
median_interest_rate = loans.group_by(group_cols).median("int_rate", na = "all")

In [411]:
median_interest_rate.get_frame()

grade,sub_grade,median_int_rate
,,nan
A,A1,0
A,A2,8
A,A3,15
A,A4,22
A,A5,34
B,B1,58
B,B2,75
B,B3,87
B,B4,101

In [412]:
sd_interest_rate = loans.group_by(group_cols).sd("int_rate", na = "all")

In [413]:
sd_interest_rate.get_frame()

grade,sub_grade,sdev_int_rate
,,nan
A,A1,3.70905
A,A2,6.57589
A,A3,7.62461
A,A4,9.18291
A,A5,10.576
B,B1,14.469
B,B2,14.3269
B,B3,17.6358
B,B4,20.7452

In [414]:
grouped_df = loans.group_by(group_cols)

In [415]:
grouped_df.max(na = "rm")

GroupBy:
  Frame: py_445_sid_9968; by=[8, 9]
  Aggregates: dict_keys(['max_id', 'max_member_id', 'max_loan_amnt', 'max_funded_amnt', 'max_funded_amnt_inv', 'max_term', 'max_int_rate', 'max_installment', 'max_emp_title', 'max_emp_length', 'max_home_ownership', 'max_annual_inc', 'max_verification_status', 'max_issue_d', 'max_loan_status', 'max_pymnt_plan', 'max_url', 'max_desc', 'max_purpose', 'max_title', 'max_zip_code', 'max_addr_state', 'max_dti', 'max_delinq_2yrs', 'max_earliest_cr_line', 'max_inq_last_6mths', 'max_mths_since_last_delinq', 'max_mths_since_last_record', 'max_open_acc', 'max_pub_rec', 'max_revol_bal', 'max_revol_util', 'max_total_acc', 'max_initial_list_status', 'max_out_prncp', 'max_out_prncp_inv', 'max_total_pymnt', 'max_total_pymnt_inv', 'max_total_rec_prncp', 'max_total_rec_int', 'max_total_rec_late_fee', 'max_recoveries', 'max_collection_recovery_fee', 'max_last_pymnt_d', 'max_last_pymnt_amnt', 'max_next_pymnt_d', 'max_last_credit_pull_d', 'max_collections_12_mths_ex_med', 'max_mths_since_last_major_derog', 'max_policy_code', 'max_Random_Column'])
*** Use get_frame() to get groupby frame ***

In [416]:
grouped_df.get_frame() #gives warning for some string cols but max value for some enum data types. How does it decide that ?

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/group_by.py:277: UserWarning: Column url is a string column.  No groupby operation will be performed on it.
  warnings.warn("Column {0} is a string column.  No groupby operation will be performed on it.".format(self._fr.names[colIndex]))

grade,sub_grade,max_id,max_member_id,max_loan_amnt,max_funded_amnt,max_funded_amnt_inv,max_term,max_int_rate,max_installment,max_emp_title,max_emp_length,max_home_ownership,max_annual_inc,max_verification_status,max_issue_d,max_loan_status,max_pymnt_plan,max_desc,max_purpose,max_title,max_zip_code,max_addr_state,max_dti,max_delinq_2yrs,max_earliest_cr_line,max_inq_last_6mths,max_mths_since_last_delinq,max_mths_since_last_record,max_open_acc,max_pub_rec,max_revol_bal,max_revol_util,max_total_acc,max_initial_list_status,max_out_prncp,max_out_prncp_inv,max_total_pymnt,max_total_pymnt_inv,max_total_rec_prncp,max_total_rec_int,max_total_rec_late_fee,max_recoveries,max_collection_recovery_fee,max_last_pymnt_d,max_last_pymnt_amnt,max_next_pymnt_d,max_last_credit_pull_d,max_collections_12_mths_ex_med,max_mths_since_last_major_derog,max_policy_code,max_Random_Column
,,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,-1.79769e+308,0.50782
A,A1,1.06997e+06,1.30488e+06,19000,19000,19000,0,17,587.1,30653,11,4,480000,2,1.3227e+12,7,0,28945,13,21212,833,49,29.92,2,1.16761e+12,4,92,77,21,1,150786,1018,61,0,0,0,19407.2,19046.8,17500,1973.28,44.9582,7051.87,1192.87,1.42007e+12,14450.8,1.33851e+12,1.43312e+12,0,0,1,0.999237
A,A2,1.06945e+06,1.3037e+06,32000,32000,32000,1,24,982.52,30642,11,4,1.44e+06,2,1.3227e+12,7,0,28943,13,21262,834,49,29.92,2,1.17029e+12,5,92,106,42,1,167381,1018,79,0,1364.27,1364.27,35369.3,35369.3,32000,3369.3,60.5824,2778.5,972.856,1.43312e+12,19193.1,1.43571e+12,1.43312e+12,0,0,1,0.999015
A,A3,1.06816e+06,1.30255e+06,30000,30000,30000,1,30,933.33,30611,11,4,1.9e+06,2,1.3227e+12,7,0,28940,13,21257,833,49,29.88,2,1.17539e+12,7,92,109,24,1,212878,1019,76,0,1201.04,1201.04,33597.2,33597.2,30000,3597.22,59.9577,8025.21,2692.6,1.43312e+12,23553.7,1.43571e+12,1.43312e+12,0,0,1,0.999796
A,A4,1.07527e+06,1.31144e+06,35000,35000,35000,1,45,1095.16,30620,11,4,1.2e+06,2,1.3227e+12,7,0,28959,13,21238,834,49,29.93,3,1.19388e+12,6,92,113,35,1,269726,1069,64,0,6012.89,6004.23,39425.5,39425.5,35000,4425.49,59.9081,4147.31,803.86,1.43312e+12,29453.9,1.43571e+12,1.43312e+12,0,0,1,0.999579
A,A5,1.06959e+06,1.30452e+06,35000,35000,35000,1,51,1111.37,30659,11,4,1.08e+06,2,1.3227e+12,7,0,28964,13,21264,835,49,29.99,4,1.19915e+12,10,92,113,24,2,255805,1095,66,0,4963.09,4963.09,40007.8,40007.6,35000,5007.83,94.8051,16502.7,5774.8,1.43312e+12,27308.5,1.43571e+12,1.43312e+12,0,0,1,0.999326
B,B1,1.06987e+06,1.30496e+06,35000,35000,35000,1,92,1129.19,30630,11,4,900000,2,1.3227e+12,10,0,28953,13,21242,832,49,29.79,6,1.20701e+12,17,92,113,31,3,224090,1092,90,0,10598.8,10598.8,39787.4,39787.4,35000,7484.43,87,3333.53,1166.47,1.43312e+12,35283.1,1.43571e+12,1.43312e+12,0,0,1,0.999973
B,B2,1.0775e+06,1.30459e+06,35000,35000,35000,1,100,1140.07,30654,11,4,780000,2,1.3227e+12,10,0,28961,13,21259,833,49,29.93,4,1.20701e+12,8,92,113,25,2,338935,1110,72,0,10450.5,10325.1,41038.5,41038.5,35000,8064.5,98.7738,4769.42,1668.62,1.43312e+12,28101.2,1.43571e+12,1.43312e+12,0,0,1,0.999732
B,B3,1.0698e+06,1.30482e+06,35000,35000,35000,1,110,1157.66,30641,11,4,3.9e+06,2,1.3227e+12,10,1,28962,13,21260,835,49,29.77,5,1.2096e+12,16,92,113,32,3,487589,1111,63,0,12724,12711.1,44995.7,44417.1,35000,10431.7,165.65,14165.1,4821.78,1.43312e+12,35323,1.43839e+12,1.43571e+12,0,0,1,0.99997
B,B4,1.06936e+06,1.30425e+06,35000,35000,35000,1,127,1169.54,30651,11,4,948000,2,1.3227e+12,8,0,28963,13,21255,835,49,29.82,11,1.20701e+12,15,92,112,33,4,255001,1118,66,0,12857.8,12844.7,45975.1,45876.6,35000,11114.9,87.6147,29623.3,2759.79,1.43312e+12,35339.1,1.43839e+12,1.43312e+12,0,0,1,0.999983

In [417]:
loans.types

{'id': 'int',
 'member_id': 'int',
 'loan_amnt': 'int',
 'funded_amnt': 'int',
 'funded_amnt_inv': 'real',
 'term': 'enum',
 'int_rate': 'real',
 'installment': 'real',
 'grade': 'enum',
 'sub_grade': 'enum',
 'emp_title': 'enum',
 'emp_length': 'enum',
 'home_ownership': 'enum',
 'annual_inc': 'real',
 'verification_status': 'enum',
 'issue_d': 'time',
 'loan_status': 'enum',
 'pymnt_plan': 'enum',
 'url': 'string',
 'desc': 'enum',
 'purpose': 'enum',
 'title': 'enum',
 'zip_code': 'enum',
 'addr_state': 'enum',
 'dti': 'real',
 'delinq_2yrs': 'int',
 'earliest_cr_line': 'time',
 'inq_last_6mths': 'int',
 'mths_since_last_delinq': 'enum',
 'mths_since_last_record': 'enum',
 'open_acc': 'int',
 'pub_rec': 'int',
 'revol_bal': 'int',
 'revol_util': 'enum',
 'total_acc': 'int',
 'initial_list_status': 'enum',
 'out_prncp': 'real',
 'out_prncp_inv': 'real',
 'total_pymnt': 'real',
 'total_pymnt_inv': 'real',
 'total_rec_prncp': 'real',
 'total_rec_int': 'real',
 'total_rec_late_fee': 'real',
 'recoveries': 'real',
 'collection_recovery_fee': 'real',
 'last_pymnt_d': 'time',
 'last_pymnt_amnt': 'real',
 'next_pymnt_d': 'time',
 'last_credit_pull_d': 'time',
 'collections_12_mths_ex_med': 'int',
 'mths_since_last_major_derog': 'enum',
 'policy_code': 'int',
 'Random_Column': 'real'}

In [418]:
loans.head()

id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,Random_Column
1.0775e+06,1.2966e+06,5000,5000,4975,36 months,78,162.87,B,B2,,10+ years,RENT,24000,VERIFIED - income,2011-12-01 00:00:00,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=1077501,Borrower added on 12/22/11 > I need to upgrade my business technologies.,credit_card,Computer,860xx,AZ,27.65,0,1985-01-01 00:00:00,1,,,3,0,13648,83.7%,9,f,0,0,5861.07,5831.78,5000,861.07,0,0,0,2015-01-01 00:00:00,171.62,,2015-01-01 00:00:00,0,,1,0.876243
1.07743e+06,1.31417e+06,2500,2500,2500,60 months,221,59.83,C,C4,Ryder,< 1 year,RENT,30000,VERIFIED - income source,2011-12-01 00:00:00,Charged Off,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=1077430,Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike. I only need this money because the deal im looking at is to good to pass up. Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike.I only need this money because the deal im looking at is to good to pass up. I have finished college with an associates degree in business and its takingmeplaces,car,bike,309xx,GA,1,0,1999-04-01 00:00:00,5,,,3,0,1687,9.4%,4,f,0,0,1008.71,1008.71,456.46,435.17,0,117.08,1.11,2013-04-01 00:00:00,119.66,,2013-09-01 00:00:00,0,,1,0.175534
1.07718e+06,1.31352e+06,2400,2400,2400,36 months,239,84.33,C,C5,,10+ years,RENT,12252,not verified,2011-12-01 00:00:00,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=1077175,,small_business,real estate business,606xx,IL,8.72,0,2001-11-01 00:00:00,2,,,2,0,2956,98.5%,10,f,0,0,3003.65,3003.65,2400,603.65,0,0,0,2014-06-01 00:00:00,649.91,,2015-06-01 00:00:00,0,,1,0.887491
1.07686e+06,1.27718e+06,10000,10000,10000,36 months,160,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200,VERIFIED - income source,2011-12-01 00:00:00,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=1076863,"Borrower added on 12/21/11 > to pay for property tax (borrow from friend, need to pay back) & central A/C need to be replace. I'm very sorry to let my loan expired last time.",other,personel,917xx,CA,20,0,1996-02-01 00:00:00,1,35,,10,0,5598,21%,37,f,0,0,12226.3,12226.3,10000,2209.33,16.97,0,0,2015-01-01 00:00:00,357.48,,2015-01-01 00:00:00,0,,1,0.512778
1.07536e+06,1.31175e+06,3000,3000,3000,60 months,135,67.79,B,B5,University Medical Group,1 year,RENT,80000,VERIFIED - income source,2011-12-01 00:00:00,Current,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=1075358,"Borrower added on 12/21/11 > I plan on combining three large interest bills together and freeing up some extra each month to pay toward other bills. I've always been a good payor but have found myself needing to make adjustments to my budget due to a medical scare. My job is very stable, I love it.",other,Personal,972xx,OR,17.94,0,1996-01-01 00:00:00,0,38,,15,0,27783,53.9%,38,f,1168.04,1168.04,2767.64,2767.64,1831.96,935.68,0,0,0,2015-06-01 00:00:00,67.79,2015-07-01 00:00:00,2015-06-01 00:00:00,0,,1,0.306893
1.07527e+06,1.31144e+06,5000,5000,5000,36 months,28,156.46,A,A4,Veolia Transportaton,3 years,RENT,36000,VERIFIED - income source,2011-12-01 00:00:00,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=1075269,,wedding,My wedding loan I promise to pay back,852xx,AZ,11.2,0,2004-11-01 00:00:00,3,,,9,0,7963,28.3%,12,f,0,0,5631.38,5631.38,5000,631.38,0,0,0,2015-01-01 00:00:00,161.03,,2015-06-01 00:00:00,0,,1,0.844711
1.06964e+06,1.30474e+06,7000,7000,7000,60 months,239,170.08,C,C5,Southern Star Photography,8 years,RENT,47004,not verified,2011-12-01 00:00:00,Current,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=1069639,"Borrower added on 12/18/11 > I am planning on using the funds to pay off two retail credit cards with 24.99% interest rates, as well as a major bank credit card with a 18.99% rate. I pay all my bills on time, looking for a lower combined payment and lower monthly payment.",debt_consolidation,Loan,280xx,NC,23.51,0,2005-07-01 00:00:00,1,,,7,0,17726,85.6%,11,f,2853.21,2853.21,6946.28,6946.28,4146.8,2799.48,0,0,0,2015-06-01 00:00:00,170.08,2015-08-01 00:00:00,2015-06-01 00:00:00,0,,1,0.107419
1.07205e+06,1.28869e+06,3000,3000,3000,36 months,322,109.43,E,E1,MKC Accounting,9 years,RENT,48000,VERIFIED - income source,2011-12-01 00:00:00,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=1072053,Borrower added on 12/16/11 > Downpayment for a car.,car,Car Downpayment,900xx,CA,5.35,0,2007-01-01 00:00:00,2,,,4,0,8221,87.5%,4,f,0,0,3938.14,3938.14,3000,938.14,0,0,0,2015-01-01 00:00:00,111.34,,2014-12-01 00:00:00,0,,1,0.791627
1.0718e+06,1.30696e+06,5600,5600,5600,60 months,370,152.39,F,F2,,4 years,OWN,40000,VERIFIED - income source,2011-12-01 00:00:00,Charged Off,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=1071795,Borrower added on 12/21/11 > I own a small home-based judgment collection business. I have 5 years experience collecting debts. I am now going from a home office to a small office. I also plan to buy a small debt portfolio (eg. $10K for $1M of debt) My score is not A+ because I own my home and have no mortgage.,small_business,Expand Business & Buy Debt Portfolio,958xx,CA,5.55,0,2004-04-01 00:00:00,2,,,11,0,5210,32.6%,13,f,0,0,646.02,646.02,162.02,294.94,0,189.06,2.09,2012-04-01 00:00:00,152.39,,2012-08-01 00:00:00,0,,1,0.963892
1.07157e+06,1.30672e+06,5375,5375,5350,60 months,135,121.45,B,B5,Starbucks,< 1 year,RENT,15000,VERIFIED - income,2011-12-01 00:00:00,Charged Off,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=1071570,"Borrower added on 12/16/11 > I'm trying to build up my credit history. I live with my brother and have no car payment or credit cards. I am in community college and work full time. Im going to use the money to make some repairs around the house and get some maintenance done on my car. Borrower added on 12/20/11 > $1000 down only $4375 to go. Thanks to everyone that invested so far, looking forward to surprising my brother with the fixes around the house.",other,Building my credit history.,774xx,TX,18.08,0,2004-09-01 00:00:00,0,,,2,0,9279,36.5%,3,f,0,0,1476.19,1469.34,673.48,533.42,0,269.29,2.52,2012-11-01 00:00:00,121.45,,2013-03-01 00:00:00,0,,1,0.418482

## Loan default or not by grade

In [419]:
loans[:,"loan_status"].unique()

C1
Charged Off
Current
Default
Does not meet the credit policy. Status:Charged Off
Does not meet the credit policy. Status:Current
Does not meet the credit policy. Status:Fully Paid
Does not meet the credit policy. Status:In Grace Period
Fully Paid
In Grace Period
Late (16-30 days)

In [420]:
ongoing_status = ["Current",
                  "In Grace Period",
                  "Late (16-30 days)",
                  "Late (31-120 days)",
                  "Does not meet the credit policy.  Status:Current",
                  "Does not meet the credit policy.  Status:In Grace Period"
                 ]

fully_paid = ["Fully Paid",
              "Does not meet the credit policy.  Status:Fully Paid"
             ]

In [421]:
# loans[:, "loan_status"].isin(ongoing_status)
# Replace using ifelse. Similar to the previous example, this replaces values less than 4.6 with 4.6.
loans["loan_status_der"] = (loans["loan_status"].isin(ongoing_status)).ifelse("Ongoing", loans["loan_status"])
print(loans["loan_status_der"].unique())

loans["loan_status_der"] = (loans["loan_status_der"].isin(fully_paid)).ifelse("Fully Paid", loans["loan_status_der"])
print(loans["loan_status_der"].unique())

print(loans[:, "loan_status_der"].table())

C1
Charged Off
Default
Does not meet the credit policy. Status:Charged Off
Does not meet the credit policy. Status:Fully Paid
Fully Paid
Ongoing

C1
Charged Off
Default
Does not meet the credit policy. Status:Charged Off
Fully Paid
Ongoing

loan_status_der,Count
Charged Off,5436
Default,7
Does not meet the credit policy. Status:Charged Off,761
Fully Paid,32776
Ongoing,3556

In [422]:
(~loans["loan_status_der"].isin(["Ongoing", "Fully Paid"])).ifelse("yes", "no")

C1
no
yes
no
no
no
no
no
no
yes
yes

In [423]:
loans["loan_status_der"] = (~loans["loan_status_der"].isin(["Ongoing", "Fully Paid"])).ifelse("Default", loans["loan_status_der"])

loans["loan_status_der"].table()

loan_status_der,Count
Default,6205
Fully Paid,32776
Ongoing,3556

# Drop a column

In [424]:
print(loans["loan_status"].head())
loans = loans.drop("loan_status")

loan_status
Fully Paid
Charged Off
Fully Paid
Fully Paid
Current
Fully Paid
Current
Fully Paid
Charged Off
Charged Off

In [425]:
# loans["loan_status"] ### throws an error

loans.dim

[42537, 53]

In [426]:
loans["loan_status_der"].table()

loan_status_der,Count
Default,6205
Fully Paid,32776
Ongoing,3556

In [427]:
loan_status_w_grade = loans.group_by(["loan_status_der", "grade"]).count(na = "rm").get_frame()
loan_status_w_grade

loan_status_der,grade,nrow
Default,,0
Default,A,609
Default,B,1475
Default,C,1447
Default,D,1270
Default,E,833
Default,F,398
Default,G,172
Fully Paid,A,9420
Fully Paid,B,9930

In [428]:
loan_status_w_grade.columns

['loan_status_der', 'grade', 'nrow']

In [429]:
grade_wise_loans = loans.group_by("grade").count().get_frame()
grade_wise_loans

grade,nrow
,1
A,10183
B,12389
C,8741
D,6016
E,3394
F,1301
G,512

# Data Manipulation 4: Merge

In [430]:
loan_status_w_grade.columns

['loan_status_der', 'grade', 'nrow']

In [431]:
grade_wise_loans.columns

['grade', 'nrow']

In [432]:
loan_status_w_grade.merge(grade_wise_loans)

This H2OFrame is empty.

## The below is empty because it tries to merge on common columns which are grade and nrow

In [433]:
??loan_status_w_grade.merge

loan_status_der,grade,nrow
Default,,0
Default,A,609
Default,B,1475
Default,C,1447
Default,D,1270
Default,E,833
Default,F,398
Default,G,172
Fully Paid,A,9420
Fully Paid,B,9930

In [434]:
# Two options. 

#Rename one of the column 

#Include by_x and by_y

# Doing both

In [435]:
loan_status_w_grade.merge(grade_wise_loans, by_x=["grade"], by_y = ["grade"], all_x=True)

## This removes nrow from loan_status_w_grade

grade,loan_status_der,nrow
,Default,nan
A,Default,10183
A,Fully Paid,10183
A,Ongoing,10183
B,Default,12389
B,Fully Paid,12389
B,Ongoing,12389
C,Default,8741
C,Fully Paid,8741
C,Ongoing,8741

In [436]:
loan_status_w_grade.rename(columns= {"nrow" : "Number_by_loan_status"})

loan_status_der,grade,Number_by_loan_status
Default,,0
Default,A,609
Default,B,1475
Default,C,1447
Default,D,1270
Default,E,833
Default,F,398
Default,G,172
Fully Paid,A,9420
Fully Paid,B,9930

In [437]:
merged_df = loan_status_w_grade.merge(grade_wise_loans, by_x=["grade"], by_y = ["grade"], all_x=True)
merged_df

grade,loan_status_der,Number_by_loan_status,nrow
,Default,0,nan
A,Default,609,10183
A,Fully Paid,9420,10183
A,Ongoing,154,10183
B,Default,1475,12389
B,Fully Paid,9930,12389
B,Ongoing,984,12389
C,Default,1447,8741
C,Fully Paid,6465,8741
C,Ongoing,829,8741

In [438]:
merged_df[:, "loan_perc"] = merged_df[:, "Number_by_loan_status"] / merged_df[:, "nrow"] * 100
merged_df.as_data_frame()

   grade loan_status_der  Number_by_loan_status     nrow  loan_perc
0    NaN         Default                      0      NaN        NaN
1      A         Default                    609  10183.0   5.980556
2      A      Fully Paid                   9420  10183.0  92.507120
3      A         Ongoing                    154  10183.0   1.512324
4      B         Default                   1475  12389.0  11.905723
5      B      Fully Paid                   9930  12389.0  80.151748
6      B         Ongoing                    984  12389.0   7.942530
7      C         Default                   1447   8741.0  16.554170
8      C      Fully Paid                   6465   8741.0  73.961789
9      C         Ongoing                    829   8741.0   9.484041
10     D         Default                   1270   6016.0  21.110372
11     D      Fully Paid                   4064   6016.0  67.553191
12     D         Ongoing                    682   6016.0  11.336436
13     E         Default                    833   3394.0  24.543312
14     E      Fully Paid                   1958   3394.0  57.690041
15     E         Ongoing                    603   3394.0  17.766647
16     F         Default                    398   1301.0  30.591852
17     F      Fully Paid                    661   1301.0  50.807071
18     F         Ongoing                    242   1301.0  18.601076
19     G         Default                    172    512.0  33.593750
20     G      Fully Paid                    278    512.0  54.296875
21     G         Ongoing                     62    512.0  12.109375

# Sorting

In [439]:
??merged_df.sort

grade,loan_status_der,Number_by_loan_status,nrow,loan_perc
,Default,0,nan,nan
A,Default,609,10183,5.98056
A,Fully Paid,9420,10183,92.5071
A,Ongoing,154,10183,1.51232
B,Default,1475,12389,11.9057
B,Fully Paid,9930,12389,80.1517
B,Ongoing,984,12389,7.94253
C,Default,1447,8741,16.5542
C,Fully Paid,6465,8741,73.9618
C,Ongoing,829,8741,9.48404

In [440]:
merged_df.sort(by = ["grade"]).as_data_frame()

   grade loan_status_der  Number_by_loan_status     nrow  loan_perc
0    NaN         Default                      0      NaN        NaN
1      A         Default                    609  10183.0   5.980556
2      A      Fully Paid                   9420  10183.0  92.507120
3      A         Ongoing                    154  10183.0   1.512324
4      B         Default                   1475  12389.0  11.905723
5      B      Fully Paid                   9930  12389.0  80.151748
6      B         Ongoing                    984  12389.0   7.942530
7      C         Default                   1447   8741.0  16.554170
8      C      Fully Paid                   6465   8741.0  73.961789
9      C         Ongoing                    829   8741.0   9.484041
10     D         Default                   1270   6016.0  21.110372
11     D      Fully Paid                   4064   6016.0  67.553191
12     D         Ongoing                    682   6016.0  11.336436
13     E         Default                    833   3394.0  24.543312
14     E      Fully Paid                   1958   3394.0  57.690041
15     E         Ongoing                    603   3394.0  17.766647
16     F         Default                    398   1301.0  30.591852
17     F      Fully Paid                    661   1301.0  50.807071
18     F         Ongoing                    242   1301.0  18.601076
19     G         Default                    172    512.0  33.593750
20     G      Fully Paid                    278    512.0  54.296875
21     G         Ongoing                     62    512.0  12.109375

In [441]:
import matplotlib.pyplot as plt

In [442]:
type(merged_df)

h2o.frame.H2OFrame

# Logical Summary - all and any and also logical negation. It is equal to ~

In [443]:
(loans["loan_status_der"] == "Ongoing").logical_negation()

not(loan_status_der)
1
1
1
1
0
1
0
1
1
1

In [444]:
print((loans["loan_status_der"] == "Ongoing").any())
print((loans["loan_status_der"] == "Ongoing").all())

True
False

# Categorical Encoding

In [529]:
loans["addr_state"].head()

addr_state
AZ
GA
IL
CA
OR
AZ
NC
CA
CA
TX

In [530]:
predictor = "addr_state"
response  = "loan_status_der"

In [531]:

from h2o.targetencoder import TargetEncoder
target_encoder = TargetEncoder(x=predictor, y=response,
                               fold_column="fold",
                               blended_avg= True,
                               inflection_point = 3,
                               smoothing = 1,
                               seed=1234)

In [532]:
train, test= loans.split_frame(ratios= [0.7])

In [533]:
target_encoder.fit(train) #DOES NOT WORK FOR MULTI CLASS VARIABLE

H2OServerError: HTTP 500 Server Error:
Server error java.lang.IllegalStateException:
  Error: `target` must be a binary vector. We do not support multi-class target case for now
  Request: None

In [534]:
print(loans[:, "loan_status_der"].unique())
print(loans["loan_status_der"].table())
loan_update = loans["loan_status_der"].isin(["Fully Paid", "Default"])

C1
Default
Fully Paid
Ongoing

loan_status_der,Count
Default,6205
Fully Paid,32776
Ongoing,3556

In [535]:
print(loans["loan_status_der"])
print(loan_update)

loan_status_der
Fully Paid
Default
Fully Paid
Fully Paid
Ongoing
Fully Paid
Ongoing
Fully Paid
Default
Default

C1
1
1
1
1
0
1
0
1
1
1

In [536]:
print(loans.dim)
print(loan_update.dim)
print(loan_update.col_names)
print(loan_update["C1"].sum())
print(loans.dim[0] - loan_update["C1"].sum())

[42537, 53]
[42537, 1]
['C1']
38981.0
3556.0

In [537]:
loans_updated = loans[loan_update]
print(loans_updated.dim)
print(type(loans_updated))
print(loans_updated.col_names)
print(loans_updated["loan_status_der"].unique())
print(loans_updated["loan_status_der"].table())
print(loans_updated.types)
print(loans_updated["loan_status_der"].unique())

[38981, 53]
<class 'h2o.frame.H2OFrame'>
['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'Random_Column', 'loan_status_der']

C1
Default
Fully Paid
Ongoing

loan_status_der,Count
Default,6205
Fully Paid,32776

{'id': 'int', 'member_id': 'int', 'loan_amnt': 'int', 'funded_amnt': 'int', 'funded_amnt_inv': 'real', 'term': 'enum', 'int_rate': 'int', 'installment': 'real', 'grade': 'enum', 'sub_grade': 'enum', 'emp_title': 'enum', 'emp_length': 'enum', 'home_ownership': 'enum', 'annual_inc': 'real', 'verification_status': 'enum', 'issue_d': 'time', 'pymnt_plan': 'enum', 'url': 'string', 'desc': 'enum', 'purpose': 'enum', 'title': 'enum', 'zip_code': 'enum', 'addr_state': 'enum', 'dti': 'real', 'delinq_2yrs': 'int', 'earliest_cr_line': 'time', 'inq_last_6mths': 'int', 'mths_since_last_delinq': 'enum', 'mths_since_last_record': 'enum', 'open_acc': 'int', 'pub_rec': 'int', 'revol_bal': 'int', 'revol_util': 'enum', 'total_acc': 'int', 'initial_list_status': 'enum', 'out_prncp': 'real', 'out_prncp_inv': 'real', 'total_pymnt': 'real', 'total_pymnt_inv': 'real', 'total_rec_prncp': 'real', 'total_rec_int': 'real', 'total_rec_late_fee': 'real', 'recoveries': 'real', 'collection_recovery_fee': 'real', 'last_pymnt_d': 'time', 'last_pymnt_amnt': 'real', 'next_pymnt_d': 'time', 'last_credit_pull_d': 'time', 'collections_12_mths_ex_med': 'int', 'mths_since_last_major_derog': 'enum', 'policy_code': 'int', 'Random_Column': 'real', 'loan_status_der': 'enum'}

C1
Default
Fully Paid
Ongoing

In [562]:
loans_updated_1 = loans
print(loans_updated_1.dim)
loans_updated_1["loan_status_der"].table()

[42537, 53]

loan_status_der,Count
Default,6205
Fully Paid,32776
Ongoing,3556

In [563]:
loans_updated_1 = loans_updated_1[~(loans_updated_1["loan_status_der"].isin(["Fully Paid", "Default"]))]

In [564]:
loans_updated_1["loan_status_der"].dim

[3556, 1]

In [565]:
print(loans_updated["loan_status_der"].shape)
print(loans_updated_1["loan_status_der"].shape)

(38981, 1)
(3556, 1)

In [566]:
print(loans_updated["loan_status_der"].unique())### THIS IS A BUG
print(loans_updated_1["loan_status_der"].unique())

C1
Default
Fully Paid
Ongoing

C1
Default
Fully Paid
Ongoing

In [548]:
print(loans_updated["loan_status_der"].table())
print(loans_updated_2["loan_status_der"].table())

loan_status_der,Count
Default,6205
Fully Paid,32776

loan_status_der,Count
Default,6205
Fully Paid,32776

In [367]:
(loans_updated["loan_status_der"] == "Ongoing").sum()

0.0

In [485]:
loans_updated["loan_status_der"].nrows
loans_updated["loan_status_der"].asfactor()

loan_status_der
Fully Paid
Default
Fully Paid
Fully Paid
Fully Paid
Fully Paid
Default
Default
Fully Paid
Fully Paid

In [512]:
predictor = ["addr_state"]
response  = ["loan_status_der"]

In [513]:
from h2o.targetencoder import TargetEncoder
target_encoder = TargetEncoder(x=predictor, y=response,
                               fold_column="fold",
                               blended_avg= True,
                               inflection_point = 3,
                               smoothing = 1,
                               seed=1234)

In [514]:
train, test= loans_updated.split_frame(ratios= [0.7])
train["loan_status_der"].table()

loan_status_der,Count
Default,4358
Fully Paid,22859
Ongoing,2496

In [489]:
target_encoder.fit(train)

H2OServerError: HTTP 500 Server Error:
Server error java.lang.IllegalStateException:
  Error: `target` must be a binary vector. We do not support multi-class target case for now
  Request: None