# Week 1 - Getting a hold of installation, init, deep learning and Auto ML

In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
os.getcwd()

'/Users/felix/Documents/felix/Learning/H2O/Coursera_Practical_Machine_Learning'

In [5]:
os.listdir()

['Untitled.ipynb', '.ipynb_checkpoints']

In [6]:
# pip install h2o

Requirement already satisfied: h2o in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (3.26.0.8)
Requirement already satisfied: future in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from h2o) (0.18.1)
Requirement already satisfied: tabulate in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from h2o) (0.8.5)
Requirement already satisfied: colorama>=0.3.8 in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from h2o) (0.4.1)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from h2o) (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from requests->h2o) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from requests->h2o) (2019.9.11)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from requests->h2o) (1.25.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import h2o
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "1.8.0_232"; OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_232-b09); OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.232-b09, mixed mode)
  Starting server from /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/1c/jl2kk0093xl1b1_cvk9bvp5w0000gn/T/tmplub36jn8
  JVM stdout: /var/folders/1c/jl2kk0093xl1b1_cvk9bvp5w0000gn/T/tmplub36jn8/h2o_felix_started_from_python.out
  JVM stderr: /var/folders/1c/jl2kk0093xl1b1_cvk9bvp5w0000gn/T/tmplub36jn8/h2o_felix_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         01 secs
H2O cluster timezone:       Asia/Kolkata
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.8
H2O cluster version age:    1 month and 5 days
H2O cluster name:           H2O_from_python_felix_nh59a7
H2O cluster total nodes:    1
H2O cluster free memory:    3.556 Gb
H2O cluster total cores:    16
H2O cluster allowed cores:  16
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.6.0 final
--------------------------  ------------------------------------------------------------------

In [3]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         24 mins 45 secs
H2O cluster timezone:       Asia/Kolkata
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.8
H2O cluster version age:    1 month and 5 days
H2O cluster name:           H2O_from_python_felix_nh59a7
H2O cluster total nodes:    1
H2O cluster free memory:    3.135 Gb
H2O cluster total cores:    16
H2O cluster allowed cores:  16
H2O cluster status:         locked, healthy
H2O connection url:         http://localhost:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.6.0 final
--------------------------  ------------------------------------------------------------------

In [4]:
url = "http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv"

In [5]:
iris = h2o.import_file(url)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [6]:
type(iris)

h2o.frame.H2OFrame

In [7]:
train, test = iris.split_frame([0.8])

In [18]:
#felix
print("type of train object is ", type(train))
print("training data dimensions ", train.shape)

type of train object is  <class 'h2o.frame.H2OFrame'>
training data dimensions  (110, 5)

In [19]:
#felix
print("type of test object is ", type(test))
print("test data dimensions ", test.shape)

type of test object is  <class 'h2o.frame.H2OFrame'>
test data dimensions  (40, 5)

In [20]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.0,1.0,0.1,
mean,5.884545454545453,3.040909090909091,3.8590909090909085,1.2354545454545456,
maxs,7.7,4.0,6.7,2.5,
sigma,0.8138915875370343,0.38937622535373895,1.7398879777577512,0.7588724571176699,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,5.4,3.9,1.7,0.4,Iris-setosa
3,4.6,3.4,1.4,0.3,Iris-setosa
4,4.4,2.9,1.4,0.2,Iris-setosa
5,4.8,3.4,1.6,0.2,Iris-setosa
6,4.8,3.0,1.4,0.1,Iris-setosa
7,4.3,3.0,1.1,0.1,Iris-setosa
8,5.8,4.0,1.2,0.2,Iris-setosa
9,5.4,3.9,1.3,0.4,Iris-setosa

### data is in sorted order which is not recommended for deep learning - Darren Cook

In [22]:
train.nrows

110

In [23]:
test.nrows

40

### go to flow and click on "get frames"

## Deep Learning Model
### Python follows a scikit format

In [24]:
from h2o.estimators.deeplearning import H2ODeepLearningEstimator

In [25]:
mDL = H2ODeepLearningEstimator()

In [26]:
mDL.train(["sepal_len", "sepal_wid",  "petal_len", "petal_wid"], "class", train)

deeplearning Model Build progress: |██████████████████████████████████████| 100%

In [27]:
mDL

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_model_python_1574528694601_2


Status of Neuron Layers: predicting class, 3-class classification, multinomial distribution, CrossEntropy loss, 41,803 weights/biases, 498.2 KB, 1,100 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,4,Input,0,,,,,,,,,
1,,2,200,Rectifier,0,0,0,0.0033731,0.00192557,0,-6.19391e-05,0.104427,0.498663,0.00741788
2,,3,200,Rectifier,0,0,0,0.0109928,0.069555,0,-0.000877662,0.0698406,0.998316,0.00521495
3,,4,3,Softmax,,0,0,0.00643236,0.0694745,0,-0.00900586,0.405338,-0.000201182,0.000651962

ModelMetricsMultinomial: deeplearning
** Reported on train data. **

MSE: 0.10340459772906352
RMSE: 0.3215658528654178
LogLoss: 0.3629650578801803
Mean Per-Class Error: 0.12612612612612614

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error      Rate
0         34.0              0.0             0.0  0.000000    0 / 34
1          0.0             23.0            14.0  0.378378   14 / 37
2          0.0              0.0            39.0  0.000000    0 / 39
3         34.0             23.0            53.0  0.127273  14 / 110

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.872727
1  2   1.000000
2  3   1.000000

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_logloss,training_r2,training_classification_error
0,,2019-11-23 23:44:01,0.000 sec,None,0.0,0,0.0,NaN,NaN,NaN,NaN
1,,2019-11-23 23:44:01,0.038 sec,7333 obs/sec,1.0,1,110.0,0.321566,0.362965,0.843698,0.127273
2,,2019-11-23 23:44:02,0.127 sec,10891 obs/sec,10.0,10,1100.0,0.428525,1.195561,0.722427,0.190909
3,,2019-11-23 23:44:02,0.134 sec,10476 obs/sec,10.0,10,1100.0,0.321566,0.362965,0.843698,0.127273

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  sepal_len             1.000000           1.000000    0.263956
1  petal_wid             0.992963           0.992963    0.262098
2  petal_len             0.924426           0.924426    0.244007
3  sepal_wid             0.871126           0.871126    0.229939

In [32]:
all_cols = train.col_names
print(all_cols)

['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid', 'class']

In [34]:
x_cols = all_cols[:-1]
print(x_cols)

['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid']

In [37]:
y_col = all_cols[len(all_cols)-1]
print(y_col)

class

In [39]:
### Another way to give the x and y columns
mDL.train(x_cols, y_col, train)

deeplearning Model Build progress: |██████████████████████████████████████| 100%

In [29]:
??mDL.train

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_model_python_1574528694601_2


Status of Neuron Layers: predicting class, 3-class classification, multinomial distribution, CrossEntropy loss, 41,803 weights/biases, 498.2 KB, 1,100 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,4,Input,0,,,,,,,,,
1,,2,200,Rectifier,0,0,0,0.0033731,0.00192557,0,-6.19391e-05,0.104427,0.498663,0.00741788
2,,3,200,Rectifier,0,0,0,0.0109928,0.069555,0,-0.000877662,0.0698406,0.998316,0.00521495
3,,4,3,Softmax,,0,0,0.00643236,0.0694745,0,-0.00900586,0.405338,-0.000201182,0.000651962

ModelMetricsMultinomial: deeplearning
** Reported on train data. **

MSE: 0.10340459772906352
RMSE: 0.3215658528654178
LogLoss: 0.3629650578801803
Mean Per-Class Error: 0.12612612612612614

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error      Rate
0         34.0              0.0             0.0  0.000000    0 / 34
1          0.0             23.0            14.0  0.378378   14 / 37
2          0.0              0.0            39.0  0.000000    0 / 39
3         34.0             23.0            53.0  0.127273  14 / 110

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.872727
1  2   1.000000
2  3   1.000000

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_logloss,training_r2,training_classification_error
0,,2019-11-23 23:44:01,0.000 sec,None,0.0,0,0.0,NaN,NaN,NaN,NaN
1,,2019-11-23 23:44:01,0.038 sec,7333 obs/sec,1.0,1,110.0,0.321566,0.362965,0.843698,0.127273
2,,2019-11-23 23:44:02,0.127 sec,10891 obs/sec,10.0,10,1100.0,0.428525,1.195561,0.722427,0.190909
3,,2019-11-23 23:44:02,0.134 sec,10476 obs/sec,10.0,10,1100.0,0.321566,0.362965,0.843698,0.127273

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  sepal_len             1.000000           1.000000    0.263956
1  petal_wid             0.992963           0.992963    0.262098
2  petal_len             0.924426           0.924426    0.244007
3  sepal_wid             0.871126           0.871126    0.229939

In [43]:
mDL.predict(test)

deeplearning prediction progress: |███████████████████████████████████████| 100%

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,0.999988,1.2061e-05,7.24139e-36
Iris-setosa,0.999952,4.80611e-05,5.84671e-35
Iris-setosa,0.999999,8.32369e-07,2.48511e-36
Iris-setosa,0.999992,7.50969e-06,2.75774e-35
Iris-setosa,0.999889,0.000110761,5.14079e-35
Iris-setosa,0.999998,1.7081e-06,2.67233e-35
Iris-setosa,1,3.42256e-08,1.72983e-34
Iris-setosa,1,2.95625e-07,1.40845e-35
Iris-setosa,0.999999,8.54446e-07,1.75194e-34
Iris-setosa,0.999984,1.62011e-05,3.03461e-33

In [44]:
mDL.model_performance(test)

ModelMetricsMultinomial: deeplearning
** Reported on test data. **

MSE: 0.08080371041215524
RMSE: 0.2842599345883187
LogLoss: 0.5212586408655975
Mean Per-Class Error: 0.1373834498834499

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0         15.0              1.0             0.0  0.062500  1 / 16
1          0.0             12.0             1.0  0.076923  1 / 13
2          0.0              3.0             8.0  0.272727  3 / 11
3         15.0             16.0             9.0  0.125000  5 / 40

Top-3 Hit Ratios:

   k  hit_ratio
0  1      0.875
1  2      1.000
2  3      1.000

## Now go to flow, look at "models" and click on a model to see the performance metrics

## These update in real time as the model is building. So when models are running for 10 hours it is good to know that there is some work going on in the background

## AUTO ML

In [46]:
from h2o.automl import H2OAutoML

In [47]:
mA = H2OAutoML(max_runtime_secs=30)

In [48]:
mA.train(x_cols, y_col, train)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [50]:
mA.leaderboard

model_id,mean_per_class_error,logloss,rmse,mse
GLM_grid_1_AutoML_20191124_091754_model_1,0.017556,0.058011,0.13756,0.0189229
GBM_grid_1_AutoML_20191124_091754_model_16,0.026103,0.121388,0.151686,0.0230086
GBM_grid_1_AutoML_20191124_091754_model_57,0.026565,0.795666,0.548332,0.300668
XGBoost_grid_1_AutoML_20191124_091754_model_23,0.026565,0.146771,0.175931,0.0309516
XGBoost_grid_1_AutoML_20191124_091754_model_5,0.026565,0.232733,0.225438,0.0508224
XGBoost_grid_1_AutoML_20191124_091754_model_30,0.026565,0.14968,0.175753,0.030889
GBM_grid_1_AutoML_20191124_091754_model_25,0.026565,0.13478,0.181856,0.0330715
XGBoost_grid_1_AutoML_20191124_091754_model_34,0.026565,0.144713,0.173263,0.03002
XGBoost_3_AutoML_20191124_091754,0.026565,0.1784,0.192278,0.036971
XGBoost_grid_1_AutoML_20191124_091754_model_20,0.026565,0.251014,0.23619,0.0557857

In [61]:
pred_aML = mA.predict(test) ## dont know what model it is using to predicting

glm prediction progress: |████████████████████████████████████████████████| 100%

In [62]:
pred_aML_leader = mA.leader.predict(test)

glm prediction progress: |████████████████████████████████████████████████| 100%

In [63]:
print("pred_aML is ", pred_aML)
print("pred_aML_leader ", pred_aML_leader)

pred_aML is

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,0.999636,0.000364028,2.41971e-24
Iris-setosa,0.99925,0.000750044,2.70198e-23
Iris-setosa,0.999953,4.68764e-05,8.97751e-26
Iris-setosa,0.999686,0.000314222,2.89045e-24
Iris-setosa,0.997897,0.00210334,1.75833e-23
Iris-setosa,0.999868,0.000131606,3.09129e-25
Iris-setosa,0.999998,1.88962e-06,3.3906e-27
Iris-setosa,0.999981,1.94415e-05,1.221e-25
Iris-setosa,0.999937,6.2931e-05,2.88583e-24
Iris-setosa,0.999347,0.000653224,2.28051e-22

pred_aML_leader

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,0.999636,0.000364028,2.41971e-24
Iris-setosa,0.99925,0.000750044,2.70198e-23
Iris-setosa,0.999953,4.68764e-05,8.97751e-26
Iris-setosa,0.999686,0.000314222,2.89045e-24
Iris-setosa,0.997897,0.00210334,1.75833e-23
Iris-setosa,0.999868,0.000131606,3.09129e-25
Iris-setosa,0.999998,1.88962e-06,3.3906e-27
Iris-setosa,0.999981,1.94415e-05,1.221e-25
Iris-setosa,0.999937,6.2931e-05,2.88583e-24
Iris-setosa,0.999347,0.000653224,2.28051e-22

In [64]:
mA.leader.model_performance(test)

ModelMetricsMultinomialGLM: glm
** Reported on test data. **

MSE: 0.038880208600365354
RMSE: 0.19718064966006515

In [67]:
mA.leader.confusion_matrix

Model Details
=============
H2OGeneralizedLinearEstimator :  Generalized Linear Modeling
Model Key:  GLM_grid_1_AutoML_20191124_091754_model_1


GLM Model: summary

,,family,link,regularization,lambda_search,number_of_predictors_total,number_of_active_predictors,number_of_iterations,training_frame
0,,multinomial,multinomial,Ridge ( lambda = 1.099E-4 ),"nlambda = 30, lambda.max = 42.379, lambda.min = 1.099E-4, lambda.1...",15,12,180,automl_training_py_3_sid_9dd2

ModelMetricsMultinomialGLM: glm
** Reported on train data. **

MSE: 0.009290831588550617
RMSE: 0.09638895988934945

ModelMetricsMultinomialGLM: glm
** Reported on cross-validation data. **

MSE: 0.01892285560905906
RMSE: 0.13756037077973823

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.9727273,0.02489648,0.95454544,1.0,0.95454544,1.0,0.95454544
1,err,0.027272727,0.02489648,0.045454547,0.0,0.045454547,0.0,0.045454547
2,err_count,0.6,0.5477226,1.0,0.0,1.0,0.0,1.0
3,logloss,0.050924696,0.028030517,0.05780769,0.0074010193,0.079827145,0.041835003,0.06775263
4,max_per_class_error,0.08214286,0.07533937,0.14285715,0.0,0.14285715,0.0,0.125
5,mean_per_class_accuracy,0.97261906,0.025113123,0.95238096,1.0,0.95238096,1.0,0.9583333
6,mean_per_class_error,0.027380953,0.025113123,0.04761905,0.0,0.04761905,0.0,0.041666668
7,mse,0.015643446,0.010129402,0.017158268,5.061381E-4,0.027561355,0.0122828325,0.020708632
8,null_deviance,48.31231,0.09619198,48.46407,48.300545,48.300545,48.300545,48.19584
9,r2,0.9761413,0.015320791,0.973037,0.9992554,0.9594538,0.98193043,0.9670297
10,residual_deviance,2.2406867,1.2333428,2.5435383,0.32564485,3.5123942,1.8407401,2.9811158
11,rmse,0.11484722,0.05538007,0.13098958,0.022497512,0.16601613,0.110827945,0.14390494

Scoring History:

,,timestamp,duration,iteration,lambda,predictors,deviance_train,deviance_test,deviance_xval,deviance_se
0,,2019-11-24 09:17:57,0.000 sec,2,.42E2,15,2.150873,NaN,2.161266,0.001733
1,,2019-11-24 09:17:57,0.003 sec,4,.26E2,15,2.125813,NaN,2.141053,0.001911
2,,2019-11-24 09:17:57,0.005 sec,6,.16E2,15,2.087399,NaN,2.109628,0.002489
3,,2019-11-24 09:17:57,0.008 sec,8,.1E2,15,2.030155,NaN,2.062098,0.003686
4,,2019-11-24 09:17:57,0.010 sec,10,.63E1,15,1.948336,NaN,1.992666,0.005646
5,,2019-11-24 09:17:57,0.012 sec,12,.39E1,15,1.838271,NaN,1.896340,0.008451
6,,2019-11-24 09:17:57,0.015 sec,15,.24E1,15,1.700726,NaN,1.771727,0.012078
7,,2019-11-24 09:17:57,0.018 sec,18,.15E1,15,1.543765,NaN,1.622881,0.016458
8,,2019-11-24 09:17:57,0.022 sec,21,.94E0,15,1.379544,NaN,1.461146,0.021268
9,,2019-11-24 09:17:57,0.025 sec,24,.58E0,15,1.220133,NaN,1.299445,0.026319
10,,2019-11-24 09:17:57,0.029 sec,27,.36E0,15,1.073906,NaN,1.148353,0.031461
11,,2019-11-24 09:17:57,0.032 sec,30,.22E0,15,0.942315,NaN,1.012550,0.036461
12,,2019-11-24 09:17:57,0.036 sec,33,.14E0,15,0.822466,NaN,0.891097,0.040730
13,,2019-11-24 09:17:57,0.039 sec,36,.87E-1,15,0.708315,NaN,0.777899,0.043716
14,,2019-11-24 09:17:57,0.042 sec,39,.54E-1,15,0.598817,NaN,0.668278,0.044355
15,,2019-11-24 09:17:57,0.047 sec,43,.33E-1,15,0.495368,NaN,0.562390,0.042237
16,,2019-11-24 09:17:57,0.052 sec,47,.21E-1,15,0.404727,NaN,0.464702,0.037442
17,,2019-11-24 09:17:57,0.058 sec,52,.13E-1,15,0.328453,NaN,0.381006,0.031673
18,,2019-11-24 09:17:57,0.070 sec,58,.8E-2,15,0.266825,NaN,0.312147,0.025720
19,,2019-11-24 09:17:57,0.081 sec,64,.5E-2,15,0.218171,NaN,0.257870,0.020595

See the whole table with table.as_data_frame()