In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
os.getcwd()

'/Users/felix/Documents/felix/Learning/H2O/Coursera_Practical_Machine_Learning'

In [4]:
import h2o

In [5]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         13 hours 58 mins
H2O cluster timezone:       Asia/Kolkata
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.8
H2O cluster version age:    1 month and 6 days
H2O cluster name:           H2O_from_python_felix_nh59a7
H2O cluster total nodes:    1
H2O cluster free memory:    2.856 Gb
H2O cluster total cores:    16
H2O cluster allowed cores:  16
H2O cluster status:         locked, healthy
H2O connection url:         http://localhost:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.6.0 final
--------------------------  ------------------------------------------------------------------

In [6]:
url = "http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv"
iris = h2o.import_file(url)
type(iris) #felix
train, test = iris.split_frame([0.8])

#felix
print("type of train object is ", type(train))
print("training data dimensions ", train.shape)

#felix
print("type of test object is ", type(test))
print("test data dimensions ", test.shape)

train.summary()

Parse progress: |█████████████████████████████████████████████████████████| 100%
type of train object is  <class 'h2o.frame.H2OFrame'>
training data dimensions  (120, 5)
type of test object is  <class 'h2o.frame.H2OFrame'>
test data dimensions  (30, 5)

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.0,1.0,0.1,
mean,5.883333333333335,3.0533333333333337,3.794166666666667,1.215833333333333,
maxs,7.9,4.4,6.9,2.5,
sigma,0.8584070975347526,0.426818075376134,1.7776055953616559,0.759698727695884,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa
5,4.6,3.4,1.4,0.3,Iris-setosa
6,4.4,2.9,1.4,0.2,Iris-setosa
7,4.8,3.4,1.6,0.2,Iris-setosa
8,4.8,3.0,1.4,0.1,Iris-setosa
9,4.3,3.0,1.1,0.1,Iris-setosa

In [7]:
train.nrows

120

In [8]:
test.nrows

30

In [10]:
all_cols = train.col_names
print(all_cols)

['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid', 'class']

In [9]:
from h2o.estimators.random_forest import H2ORandomForestEstimator

In [12]:
x_cols = all_cols[:-1]
print(x_cols)

['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid']

In [15]:
y_col = all_cols[len(all_cols)-1]
print(y_col)

class

# Random Forest

In [16]:
mRF = H2ORandomForestEstimator()
mRF.train(x_cols, y_col, train)

drf Model Build progress: |███████████████████████████████████████████████| 100%

In [17]:
mRF

Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  DRF_model_python_1574528694601_6


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,50.0,150.0,17182.0,1.0,8.0,3.08,2.0,12.0,4.466667

ModelMetricsMultinomial: drf
** Reported on train data. **

MSE: 0.01687397963400894
RMSE: 0.12989988311776474
LogLoss: 0.05273292274256593
Mean Per-Class Error: 0.032926829268292684

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         39.0              0.0             0.0  0.000000   0 / 39
1          0.0             38.0             2.0  0.050000   2 / 40
2          0.0              2.0            39.0  0.048780   2 / 41
3         39.0             40.0            41.0  0.033333  4 / 120

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.966667
1  2   1.000000
2  3   1.000000

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_classification_error
0,,2019-11-24 13:24:54,0.005 sec,0.0,NaN,NaN,NaN
1,,2019-11-24 13:24:54,0.034 sec,1.0,0.141421,0.690776,0.020000
2,,2019-11-24 13:24:54,0.038 sec,2.0,0.215473,1.490135,0.042857
3,,2019-11-24 13:24:54,0.040 sec,3.0,0.204124,1.250031,0.047619
4,,2019-11-24 13:24:54,0.041 sec,4.0,0.213139,1.450560,0.052083
5,,2019-11-24 13:24:54,0.043 sec,5.0,0.185977,1.022236,0.038835
6,,2019-11-24 13:24:54,0.044 sec,6.0,0.163901,0.656170,0.027273
7,,2019-11-24 13:24:54,0.045 sec,7.0,0.157171,0.630622,0.026316
8,,2019-11-24 13:24:54,0.047 sec,8.0,0.157909,0.622337,0.025862
9,,2019-11-24 13:24:54,0.049 sec,9.0,0.145047,0.334874,0.025641
10,,2019-11-24 13:24:54,0.051 sec,10.0,0.139310,0.328426,0.025424
11,,2019-11-24 13:24:54,0.052 sec,11.0,0.137935,0.327332,0.025424
12,,2019-11-24 13:24:54,0.053 sec,12.0,0.134128,0.053798,0.025424
13,,2019-11-24 13:24:54,0.057 sec,13.0,0.135901,0.056820,0.025210
14,,2019-11-24 13:24:54,0.058 sec,14.0,0.145322,0.062787,0.033613
15,,2019-11-24 13:24:54,0.059 sec,15.0,0.143659,0.061388,0.033613
16,,2019-11-24 13:24:54,0.061 sec,16.0,0.142776,0.060538,0.033333
17,,2019-11-24 13:24:54,0.061 sec,17.0,0.151210,0.068323,0.041667
18,,2019-11-24 13:24:54,0.064 sec,18.0,0.147369,0.064613,0.041667
19,,2019-11-24 13:24:54,0.066 sec,19.0,0.143161,0.062049,0.041667

See the whole table with table.as_data_frame()

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_len          1667.942627           1.000000    0.473757
1  petal_wid          1562.776123           0.936948    0.443886
2  sepal_len           246.326950           0.147683    0.069966
3  sepal_wid            43.625301           0.026155    0.012391

In [19]:
pred = mRF.predict(test)
print(pred.head)

drf prediction progress: |████████████████████████████████████████████████| 100%

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,0.99781,0,0.00219031
Iris-setosa,0.99781,0,0.00219031
Iris-setosa,0.99781,0,0.00219031
Iris-setosa,0.99781,0,0.00219031
Iris-setosa,0.997765,0,0.00223491
Iris-setosa,0.99781,0,0.00219031
Iris-setosa,0.99781,0,0.00219031
Iris-setosa,0.99781,0,0.00219031
Iris-setosa,0.99781,0,0.00219031
Iris-setosa,0.978287,0.0195657,0.00214746

<bound method H2OFrame.head of >

In [20]:
mRF.model_performance(test)

ModelMetricsMultinomial: drf
** Reported on test data. **

MSE: 0.07727295891243438
RMSE: 0.2779801412195382
LogLoss: 0.23844643259695433
Mean Per-Class Error: 0.1074074074074074

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0         11.0              0.0             0.0  0.000000  0 / 11
1          0.0              9.0             1.0  0.100000  1 / 10
2          0.0              2.0             7.0  0.222222   2 / 9
3         11.0             11.0             8.0  0.100000  3 / 30

Top-3 Hit Ratios:

   k  hit_ratio
0  1        0.9
1  2        1.0
2  3        1.0

# GBM

In [21]:
from h2o.estimators.gbm import H2OGradientBoostingEstimator

In [22]:
mGBM = H2OGradientBoostingEstimator()

In [23]:
mGBM.train(x_cols, y_col, train)

gbm Model Build progress: |███████████████████████████████████████████████| 100%

In [26]:
mGBM ### IT GOT A PERFECT SCORE

Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_model_python_1574528694601_8


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,50.0,150.0,23805.0,1.0,5.0,4.56,2.0,10.0,7.986667

ModelMetricsMultinomial: gbm
** Reported on train data. **

MSE: 0.0003370110061331709
RMSE: 0.018357859519376733
LogLoss: 0.0063794582356361575
Mean Per-Class Error: 0.0

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica  Error     Rate
0         39.0              0.0             0.0    0.0   0 / 39
1          0.0             40.0             0.0    0.0   0 / 40
2          0.0              0.0            41.0    0.0   0 / 41
3         39.0             40.0            41.0    0.0  0 / 120

Top-3 Hit Ratios:

   k  hit_ratio
0  1        1.0
1  2        1.0
2  3        1.0

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_classification_error
0,,2019-11-24 14:21:57,0.001 sec,0.0,0.666667,1.098612,0.641667
1,,2019-11-24 14:21:57,0.009 sec,1.0,0.600929,0.918869,0.025000
2,,2019-11-24 14:21:57,0.011 sec,2.0,0.540955,0.779161,0.025000
3,,2019-11-24 14:21:57,0.012 sec,3.0,0.486628,0.667318,0.025000
4,,2019-11-24 14:21:57,0.014 sec,4.0,0.437789,0.576027,0.025000
5,,2019-11-24 14:21:57,0.015 sec,5.0,0.393821,0.499562,0.025000
6,,2019-11-24 14:21:57,0.016 sec,6.0,0.354744,0.435829,0.025000
7,,2019-11-24 14:21:57,0.018 sec,7.0,0.319799,0.381446,0.025000
8,,2019-11-24 14:21:57,0.019 sec,8.0,0.288935,0.335189,0.025000
9,,2019-11-24 14:21:57,0.020 sec,9.0,0.262326,0.296102,0.025000
10,,2019-11-24 14:21:57,0.022 sec,10.0,0.238144,0.261740,0.008333
11,,2019-11-24 14:21:57,0.023 sec,11.0,0.217761,0.232856,0.025000
12,,2019-11-24 14:21:57,0.024 sec,12.0,0.198381,0.206602,0.008333
13,,2019-11-24 14:21:57,0.026 sec,13.0,0.181244,0.183818,0.008333
14,,2019-11-24 14:21:57,0.027 sec,14.0,0.167524,0.164651,0.000000
15,,2019-11-24 14:21:57,0.028 sec,15.0,0.154173,0.147290,0.000000
16,,2019-11-24 14:21:57,0.030 sec,16.0,0.143789,0.132605,0.000000
17,,2019-11-24 14:21:57,0.031 sec,17.0,0.132946,0.118828,0.000000
18,,2019-11-24 14:21:57,0.032 sec,18.0,0.123873,0.107189,0.000000
19,,2019-11-24 14:21:57,0.034 sec,19.0,0.114531,0.095717,0.000000

See the whole table with table.as_data_frame()

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_wid           201.229233           1.000000    0.539025
1  petal_len           170.139938           0.845503    0.455748
2  sepal_len             1.767565           0.008784    0.004735
3  sepal_wid             0.183749           0.000913    0.000492

In [25]:
pred = mGBM.predict(test)

gbm prediction progress: |████████████████████████████████████████████████| 100%

In [27]:
mGBM.model_performance(test)

ModelMetricsMultinomial: gbm
** Reported on test data. **

MSE: 0.0967730968055411
RMSE: 0.31108374564663627
LogLoss: 0.4215001236628453
Mean Per-Class Error: 0.1074074074074074

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0         11.0              0.0             0.0  0.000000  0 / 11
1          0.0              9.0             1.0  0.100000  1 / 10
2          0.0              2.0             7.0  0.222222   2 / 9
3         11.0             11.0             8.0  0.100000  3 / 30

Top-3 Hit Ratios:

   k  hit_ratio
0  1        0.9
1  2        1.0
2  3        1.0